.main-menu-container {
  font-family: Lato;
  color: white;
  padding-top: 50px;
  text-align: center;
  font-weight: 300; }
  .main-menu-container--invisible {
    display: none; }

.rullo-logo {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 0.7em;
  border: 3px solid #df144c;
  display: inline-block;
  padding: 18px 0;
  padding-left: 0.7em; }

.main-menu {
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between; }

.game-mode {
  border: solid 2px #df144c;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: background-color .2s ease-in; }
  .game-mode:hover {
    background-color: #df144c; }
  .game-mode .game-mode-name {
    text-transform: uppercase;
    font-size: 1.2em;
    position: relative;
    top: 45px; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #0D0F18;
  height: 100vh; }

.container {
  display: none; }
  .container--visible {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }

.game-container {
  background-color: #171a29;
  padding: 70px 70px;
  border: #df144c solid 3px;
  box-sizing: border-box; }

.row .sum:first-child .sum--current {
  left: -52px;
  bottom: auto;
  top: 0; }
.row .sum:last-child .sum--current {
  right: -52px;
  bottom: auto;
  top: 0; }
.row:first-child {
  margin-bottom: 12px; }
  .row:first-child .sum .sum--current {
    top: -52px;
    left: 0;
    right: 0; }
.row:last-child {
  margin-top: 12px; }
  .row:last-child .sum:first-child .sum--current,
  .row:last-child .sum:last-child .sum--current {
    top: auto; }
  .row:last-child .sum .sum--current {
    bottom: -52px;
    left: 0;
    right: 0; }
.row:first-child, .row:last-child {
  display: flex;
  justify-content: center; }
  .row:first-child .sum:first-child, .row:last-child .sum:first-child {
    margin-right: 8px; }
  .row:first-child .sum:last-child, .row:last-child .sum:last-child {
    margin-left: 8px; }

.ball {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin: 8px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #df144c;
  transition: all 0.1s ease-in; }
  .ball:not(.ball--locked):hover {
    background-color: #171a29;
    box-shadow: 0 0 0 1px #df144c;
    color: #df144c; }
  .ball--on {
    background-color: #df144c;
    box-shadow: 0 0 0 1px #df144c; }
  .ball--off {
    color: #404350;
    background-color: #171a29;
    box-shadow: 0 0 0 1px #404350; }
  .ball--locked {
    box-shadow: 0 0 0 2px #404350; }
    .ball--locked.ball--on {
      box-shadow: 0 0 0 2px #e4d292; }

.sum {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin: 8px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  position: relative; }
  .sum--target {
    box-shadow: 0 0 0 1px #404350; }
  .sum--current {
    position: absolute;
    width: 50px;
    cursor: default;
    background-color: #0D0F18;
    opacity: 0;
    transition: opacity .2s ease-in; }
    .sum--current--visible {
      opacity: 0.6; }
    .sum--current--still-visible {
      opacity: 1;
      cursor: pointer; }
  .sum:first-child {
    margin-right: 20px; }
  .sum:last-child {
    margin-left: 20px; }
  .sum--completed {
    box-shadow: 0 0 0 3px #e4d292; }

/*# sourceMappingURL=style.css.map */
