.results-container {
    margin-top: 70px;
    animation-name: gameModeFadeInAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 1;
    transition: opacity .3s ease-out;
    //    position: relative;
}

.results-menu {
    .ranges {
        width: 100%;
        display: flex;
        position: relative;
        margin-bottom: 5px;

        .range {
            width: 33.33333%;
            font-size: 1.3em;
            padding: 10px 0;
            cursor: pointer;

            &--chosen {
                //                background-color: $on-bg-color;
            }
        }

        .chosen-range-bg {
            width: 33.33333%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $on-bg-color;
            z-index: -1;
            transition: transform .3s ease-in;

            &-1 {
                transform: translateX(0);
            }

            &-2 {
                transform: translateX(100%);
            }

            &-3 {
                transform: translateX(200%);
            }
        }
    }

    .sizes {
        width: 100%;
        display: flex;
        position: relative;

        .size {
            width: 25%;
            padding: 5px 0;
            cursor: pointer;
        }

        .chosen-size-bg {
            width: 25%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $on-bg-color;
            z-index: -1;
            transition: transform .3s ease-in;

            &-1 {
                transform: translateX(0);
            }

            &-2 {
                transform: translateX(100%);
            }

            &-3 {
                transform: translateX(200%);
            }

            &-4 {
                transform: translateX(300%);
            }
        }
    }

}

.results-groups-wrapper {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.results-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease-out;

    &--chosen {
        opacity: 1;
        transition: opacity .3s ease-in;
    }

    &--longest {
        position: static;
    }
}

.result {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: black;
    opacity: 1;

    .result-number {
        padding: 0 15px;
    }

    .result-effect {
        width: 5px;
        height: 30px;
        display: inline-block;

        &.win {
            background-color: green;
        }

        &.defeat {
            background-color: red;
        }
    }

    .result-time {
        flex-grow: 1;
        color: white;
        font-size: 1.3em;
        letter-spacing: 1px;
        display: inline-block;
        font-family: "Roboto", monospace;
    }

    .result-datetime {
        flex-grow: 1;
    }

    .result-remove {
        padding: 0 15px;
        color: red;
        cursor: pointer;
    }

    &.removed {
        opacity: 0;
        transform: translateX(20px);
        transition: all .5s ease-out;
    }
}

.clr-button {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    letter-spacing: 1px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid $on-bg-color;
    transition: background-color .2s ease-in;

    &:hover {
        background-color: $on-bg-color;
    }
}
