$size: 50px;
$off-bg-color: #171a29;
$off-border-color: #404350;
$on-bg-color: #df144c;
$on-locked-border-color: #e4d292;
$body-bg-color: #0D0F18;

@mixin generalStyles {
    width: $size;
    height: $size;
    line-height: $size; // vertical centering of number
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    margin: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $body-bg-color;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    background-color: $off-bg-color;
    padding: 70px 70px;
    border: $on-bg-color solid 3px;
    box-sizing: border-box;
}

.row {

    .sum:first-child {
        .sum--current {
            left: -52px;
            bottom: auto;
            top: 0;
        }
    }

    .sum:last-child {
        .sum--current {
            right: -52px;
            bottom: auto;
            top: 0;
        }
    }
    
    &:first-child {
        margin-bottom: 12px;

        .sum .sum--current {
            top: -52px;
            left: 0;
            right: 0;
        }
    }

    &:last-child {
        margin-top: 12px;
        
        .sum:first-child, .sum:last-child {
            .sum--current {
                top: auto;
            }
        }

        .sum .sum--current {
            bottom: -52px;
            left: 0;
            right: 0;
        }
    }

    &:first-child,
    &:last-child {
        display: flex;
        justify-content: center;

        .sum {

            &:first-child {
                margin-right: 8px;
            }

            &:last-child {
                margin-left: 8px;
            }
        }
    }
}

.ball {
    @include generalStyles;
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0 0 0 1px $on-bg-color;
    transition: all 0.1s ease-in;

    &:not(.ball--locked):hover {
        background-color: $off-bg-color;
        box-shadow: 0 0 0 1px $on-bg-color;
        color: $on-bg-color;
    }

    &--on {
        background-color: $on-bg-color;
        box-shadow: 0 0 0 1px $on-bg-color;
    }

    &--off {
        color: $off-border-color;
        background-color: $off-bg-color;
        box-shadow: 0 0 0 1px $off-border-color;
    }

    &--locked {
        box-shadow: 0 0 0 2px $off-border-color;

        &.ball--on {
            box-shadow: 0 0 0 2px $on-locked-border-color;
        }
    }
}

.sum {
    @include generalStyles;
    display: inline-block;
    position: relative;

    &--target {
        box-shadow: 0 0 0 1px $off-border-color;
    }

    &--current {
        position: absolute;
        width: 50px;
        cursor: default;
        background-color: $body-bg-color;
        opacity: 0;
        transition: opacity .2s ease-in;
        
        &--visible {
            opacity: 0.6;
        }
        
        &--still-visible {
            opacity: 1;
            cursor: pointer;
        }
    }

    &:first-child {
        margin-right: 20px;
    }

    &:last-child {
        margin-left: 20px;
    }

    &--completed {
        box-shadow: 0 0 0 3px $on-locked-border-color;
    }
}
