@keyframes rulloNameAnimation {
    0% {
        opacity: 0;
        letter-spacing: 12px;
    }
    
    30% {
        letter-spacing: 20px;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes rulloNameAnimation-10 {
    0% {
        opacity: 0;
        letter-spacing: 5px;
    }
    
    30% {
        letter-spacing: 10px;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes rulloLogoSlideUpAnimation {
    0% {
        transform: translateY(0);
        width: 50%;
    }
    
    100% {
        transform: translateY(-150px);
        width: 50%;
    }
}

@keyframes rulloLogoAnimation {
    0% {
        opacity: 0;
        width: 20px;
        height: 20px;
        transform: translateY(300px);
    }
    
    33% {
        opacity: 1;
        width: 20px;
        height: 20px;
        transform: translateY(300px);
    }
    
    66% {
        width: 50%;
        height: 80px;
        transform: translateY(270px);
    }
    
    100% {
        transform: translateY(0);
        width: 50%;
    }
}

@keyframes gameModeFadeInAnimation {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes gameModeFadeOutAnimation {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes gameModeFadeOutLeftAnimation {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes gameModeFadeOutRightAnimation {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}